{%load static%}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About me</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Reynan Ibita</h4>
            <p><em>A Freelancer with at least one year of experience in graphic design, including logo design, mockups, flyers, invitations, and other projects from concept to final, polished deliverable. Creating simple project websites, such as the Portpolio website and other types of websites, as well as editing videos like montage, social media ads, adding overlays, and others. </em></p>
            <ul>
              <li>Purok-1 Iberica, Labo, Camarines Norte , Philippines</li>
              <li>(+63) 09667023835</li>
              <li>reynanvibita@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Science in Computer Science</h4>
            <h5>2015 - 2023</h5>
            <p><em>Mabini Colleges Inc.
              <br> Panotes Ave. Daet, Camarines Norte, Philippines</em></p>
          </div>
          <div class="resume-item">
            <h4>Information and Communication Technology</h4>
            <h5>2010 - 2014</h5>
            <p><em>Northills College of Asia Inc.
              <br> Baustista Labo Camarines Norte, Philippines</em></p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Experience</h3>
          <div class="resume-item">
            <h4>Graphic Design</h4>
            <h5>2019 - Present</h5>
            <p><em>Purok-1 Iberica, Labo, Camarines Norte Philippines </em></p>
            <ul>
              <li>Design, development, and implementation of graphic, layout, and production materials</li>
              <li>I create logo, mock ups, flyers, different kind of invitations and others.</li>
              <li></li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Web Development</h4>
            <h5>2020 - Present</h5>
            <p><em>Purok-1 Iberica, Labo, Camarines Norte Philippines</em></p>
            <ul>
              <li>A solo web developer who created the Portfolio Website, a student's static website that displays all of their activities and achievements, as well as their personal information. <strong><br><i class="bi bi-chevron-right">(HTML/CSS/JAVASCRIPT/BOOTSTRAP)</i></strong></li>
              <li>I also solo developed a Barangay Attendance System that tracks attendance. It is our final programming school project. This project taught me a lot about web development.It is not ideal, but it serves its purpose.<strong><br><i class="bi bi-chevron-right">(HTML/CSS/JAVASCRIPT/BOOTSTRAP/PHP/DATABASE)</i></strong></li>
              
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->