  {%load static%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="fade-right" data-aos-delay="5">
      <h1>Reynan Ibita</h1>
      <p>I'm Freelancer [ <span class="typed" data-typed-items="Graphic Designer, Web Designer, Web Developer, Video Editor, Photographer"></span> ]</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100072085763412" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/reynanvibita/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/reynan-ibita-2b4b43230" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
        <br>
      <div class="files">
        <button type="button" class="btn btn-lg">
          <a href="" class="resume">
            <i class="bx bx-file-blank"></i>
            <span>Resume</span>
          </a>
        </button>
      </div>
    </div>
  </section><!-- End Hero -->