  {%load static%}
  <!-- Favicons -->
  <link href="{%static 'vendor/img/NAN.png'%}" rel="icon">
  <link href="{%static 'vendor/img/NAN.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">


  <!--CSS File -->
  <link href="{%static 'css/main.css'%}" rel="stylesheet">
  <link href="{%static 'css/backtotop.css'%}" rel="stylesheet">
  <link href="{%static 'css/preloader.css'%}" rel="stylesheet">
  <link href="{%static 'css/header.css'%}" rel="stylesheet">
  <link href="{%static 'css/home.css'%}" rel="stylesheet">
  <link href="{%static 'css/section.css'%}" rel="stylesheet">
  <link href="{%static 'css/services.css'%}" rel="stylesheet">
  <link href="{%static 'css/resume.css'%}" rel="stylesheet">