{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Reynan Ibita Website</title>
  {%include "reynanibita/includes/links.html"%}
</head>
<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none" ></i>
  {%include "reynanibita/includes/header.html"%}
    <main>
  {%include "reynanibita/includes/portpolio.html"%}
    </main>
  {%include "reynanibita/includes/scripts.html"%}

</body>
</html>